<!doctype html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  {{ 'carousel.js' | asset_url | script_tag }}
  {{ 'header.scss' | asset_url | stylesheet_tag }}
  {{ 'carousel.scss' | asset_url | stylesheet_tag }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>
<body onload="scroller()">
  <header>
    {% section 'header' %}
  </header>
  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}

  <main role="main">
    {{ content_for_layout }}
    {% section 'carousel' %}
  </main>
</body>
<script>
  const hamburgerButtonOpen=document.querySelector('.hamburger')
  const menuMobile=document.querySelector('.menu-links')
  const hamburgerButtonClose=document.querySelector('.close-menu')

  hamburgerButtonOpen.addEventListener('click', ()=>{
    menuMobile.style.transform='translateX(-8%)'
    menuMobile.style.boxShadow='70px 0px 0px 0px rgba(61, 77, 76, 0.75)'
  })
  hamburgerButtonClose.addEventListener('click', ()=>{
    menuMobile.style.transform='translateX(-108%)'
    menuMobile.style.boxShadow='none'
  })
</script>
</html>
<!--{% for link in linklists.main-menu.links %}
      <a class="menu-links" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  
  <a href="/cart" class="menu-links cart">Cart</a>-->