{{ 'footer.scss ' | asset_url | stylesheet_tag }}
<div class="footer-wrapper">
    <img src="{{ 'footer-logo.png' | asset_url }}">
    <div class="addres-wrapper">
        <h3>SKLEP STACJONARNY</h3>
        <div class="place">ul. Dyrekcyjna 3, Wrocław<br>
            (Centrum Handlowe Wroclavia)</div><br>
        <div class="opening">Poniedziałek - Piątek 10:00 - 18:00<br><br>
            Sobota 10:00 - 14:00</div>
    </div>
    <div class="info-links">
        <h3>INFORMACJE</h3>
        {% for block in section.blocks %}
            {% if block.type =='link_list' %}
                <div><a href="{{ block.settings.infoLink }}">{{ block.settings.linkLabel }}</a></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="short-info">
        <h3>KOKOSEK</h3>
        {% for block in section.blocks %}
            {% if block.type =='text' %}
            <div><a href="{{ block.settings.kokosekLink }}">{{ block.settings.kokosekLabel }}</a></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="contact">
        <h3>KONTAKT</h3>
        {% for block in section.blocks %}
            {% if block.type =='contact' %}
                <div><h4>{{ block.settings.additionalContact }}</h4></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="social">
        <h3>OBSERWUJ NAS</h3>
        {% for block in section.blocks %}
            {% if block.type =='social' %}
                <a href="{{ block.settings.socialLink }}"><img src="{{ block.settings.socialLogo | img_url: 'medium' }}"></a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="pay-methods">
        <h3>PŁATNOŚCI</h3>
        {% for block in section.blocks %}
            {% if block.type =='payments' %}
                <img src="{{ block.settings.paymentLogo | img_url: 'medium' }}">
            {% endif %}
        {% endfor %}
    </div>
    <div class="copyrights">
        <h3>COPYRIGHT &copy; 2022, KOKOSEK</h3> 
    </div>
</div>
{% schema %}
{
    "name":"footer",
    "blocks":[{
        "name":"Informacje",
        "type":"link_list",
        "settings":[{
            "label":"Dodaj link",
            "id":"infoLink",
            "type":"url"
        },
        {   
            "label":"Dodaj etykiete do linku",
            "id":"linkLabel",
            "type":"text"
        }
        ]
    },
    {
        "name":"KOKOSEK",
        "type":"text",
        "settings":[{
            "label":"Dodaj link",
            "id":"kokosekLink",
            "type":"url"
        },
        {
            "label":"Dodaj etykiete do linku",
            "id":"kokosekLabel",
            "type":"text"
        }
        ]
    },
    {
        "name":"KONTAKT",
        "type":"contact",
        "settings":[{
            "label":"Dodaj informacje kontaktową",
            "id":"additionalContact",
            "type":"text"
        }]
    },
    {
        "name":"OBSERWUJ NAS",
        "type":"social",
        "settings":[{
            "label":"Dodaj logo social media",
            "id":"socialLogo",
            "type":"image_picker"
        },
        {
            "label":"Dodaj link do social media",
            "id":"socialLink",
            "type":"url"
        }
        ]
    },
    {
        "name":"PŁATNOŚCI",
        "type":"payments",
        "settings":[{
            "label":"Dodaj logo metody płatności",
            "id":"paymentLogo",
            "type":"image_picker"
        }]
    }
    ],
    "presets":[{
        "name":"Stopka",
        "category":"footer"
    }]
}
{% endschema %}