<div class="landing-news">
    <h2>{{ section.settings.heading-collection }}</h2>
    <div class="products-outer-wrapper snap-product">
    {% for product in section.settings.new-collection.products %}
        <a href="{{ product.url }}">
            <div class="products-inner-wrapper">
                <div class="products">
                    <div class="product-img"><img src="{{ product.featured_image.src | image_url: width:300, crop:'center' }}"></div>
                        <div class="product-collection-title">{{ section.settings.new-collection.title }}</div>
                        <div class="product-title">{{ product.title }}</div>
                        <div class="product-price">{{ product.price | money }}</div>
                    
                </div>
            </div> 
        </a>
    {% endfor %}
    </div>
</div>


{% schema %}
{
"name":"Nowości- kolekcja",
"settings":[{
    "type":"collection",
    "id":"new-collection",
    "label":"Wybierz kolekcje"
},
{
    "type":"text",
    "id":"heading-collection",
    "label":"Opis kolekcji"
}
],
"presets":[{
    "name":"Nowości- kolekcja",
    "category":"text"
}]
}
{% endschema %}