{{ 'cart.scss' | asset_url | stylesheet_tag }}
{% if cart.item_count > 0 %}
<div class="container">
  <div class="heading">
  <h1>KOSZYK</h1>
  </div>
  <form action="/cart" method="post" novalidate>
    {% for item in cart.items %}
    <table>
      <thead>
        <tr>
          <td rowspan="4">
            <a href="{{ item.url | within: collections.all }}">
              <div class="cart-product-img">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </div>
            </a>
          </td>
          <td>
            <div class="cart-product-title">
              <a href="{{ item.url }}">{{ item.product.title }}</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="cart-product-variant">
              {{ item.variant.title }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="cart-product-price">
            {{ item.price | money }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="quantity-and-remove">
              <div class="quantity-wrapper">
                <button type="submit" name="update" class="minus" id="{{ item.product.id }}">-</button>
                <input type="number" name="updates[]" id="updates_{{ item.key }}" class="updates" value="{{ item.quantity }}" min="0"><span>SZT.</span>
                <button type="submit" name="update" class="plus">+</button>
              </div>
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">USUŃ</a>
            </div>
          </td>
        </tr>
      </thead>
    </table>
    {% endfor %}
    <div class="baner">
      <p>Kod rabatowy można wprowadzić w następnym kroku</p>
    </div>
    <div>
      <div class="sum">
        <span>PRODUKTY</span>
        <span class="cost">{{ cart.items_subtotal_price | money }}</span>
      </div>
      <div class="send">
        <span>WYSYŁKA</span>
        {% if cart.items_subtotal_price <= 50000 %}
        <span class="cost">{{ '2000' | money }}</span><br>
        {% else %}
        <span class="cost">{{ '0' | money }}</span>
        {% endif %}
        {% unless cart.items_subtotal_price >= 50000 %}
        <h5 id="free">Brakuje {{ cart.items_subtotal_price | minus: 50000 | times: -1 | money }} do darmowej wysyłki</h5>
        {% endunless %}
      </div>
      <div class="gift">
        <label for="gift">
        <input type="checkbox" id="gift" name="gift" onclick="check()">Pakowanie na prezent
        </label>
        <span class="gift-wrap" id="gift-wrap">+ 15 zł</span>
      </div>
      <div class="sum-up">
        <div class="price">
          <span>SUMA</span>
          <span id="total-cost">
            {% if cart.items_subtotal_price <= 50000 | money %}
            {{ cart.total_price | plus: 2000 | money }}
            {% else %}
            {{ cart.total_price | money }}
            {% endif %}
          </span>
        </div>
        <div class="vat">
          <p>(w tym 23% VAT)</p>
        </div>
      </div>
      <button type="submit" name="checkout" class="payments">PRZEJDŹ DO ZAMÓWIENIA</button>
      <!--<button type="submit" name="update">Update</button>-->
    </div>
  </form>
{% else %}
  <h2>KOSZYK</h2>
  Tu nic nie ma
{% endif %}
</div>
{% section 'news-landing' %}
{% section 'newsletter' %}
{% section 'credits' %}
{% section 'footer' %}
<script>
  const giftCheckbox = document.getElementById('gift')
  const giftWrap=document.getElementById('gift-wrap')
  const totalCost=document.getElementById('total-cost')
  function check(){
  if(giftCheckbox.checked==1){
    giftWrap.classList.add('turned-on')
    totalCost.innerHTML="{{ cart.total_price | plus: 1500 | money }}"
  }
  else{
    totalCost.innerHTML="{{ cart.total_price | money }}"
    giftWrap.classList.remove('turned-on')
  }
  }

  const minusButton=document.getElementsByClassName('minus')
  const plusButton=document.getElementsByClassName('plus')

  for(var i = 0; i < plusButton.length; i++ ){
    var button = plusButton[i]
    button.addEventListener('click', function(event) {
        var buttonClicked = event.target;
        var input = buttonClicked.parentElement.children[1]
        var inputValue = input.value
        var newValue = parseInt(inputValue)+1
        input.value = newValue
    })
  }
  for(var i = 0; i < minusButton.length; i++ ){
    var button = minusButton[i]
    button.addEventListener('click', function(event) {
        var buttonClicked = event.target;
        var input = buttonClicked.parentElement.children[1]
        var inputValue = input.value
        var newValue = parseInt(inputValue)-1
        
        if(input.value >= 2){
          input.value = newValue
        }
        else return
    })
  }
</script>
