
{{ 'product-page.scss' | asset_url | stylesheet_tag }}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="slider-wrapper">
  <div class="slider snaps">
    {% for image in product.images %}
      <img src="{{ product.featured_image | img_url: 'medium' }}">
    {% endfor %}
  </div>
</div>
<div class="dots-wrapperr">
  {% for image in product.images %}
      <div class="slider-dots"></div>
  {% endfor %}
</div>
<div class="product-info-wrapper">
  <div class="general-info-wrapper">
    <label>{{ product.collections.first.title }}</label>
    <h1>{{ product.title }}</h1>
    <h3>{{ current_variant.price | money }}</h3>
  </div>
  <div class="variants">
    <div class="product-template" for="product-template">WZÓR</div>
    <div class="variants-inner">
      	{% for variant in product.variants %}
        	<img id="{{variant.id}}" onclick="selectedVariant(this.id)" src="{{ variant.image.src | img_url: 'medium' }}">
      	{% endfor %}
    </div>
  </div>
{% form 'product', product %}
    <div class="product-size-wrapper">
      <div class="product-size" for="product-size">ROZMIAR</div>
      <select id="product-size" name="id">
        	{% for variant in product.variants %}
            	<option value="{{variant.id}}">{{ variant.option2 }}</option>
        	{% endfor %}
      </select>
    </div>
    <div class="product-description">
      {{ product.description }}
    </div>
    <div for="Quantity" class="quantity-label">ILOŚĆ</div>
    <div class="quantity-wrapper">
      <div class="minus">-</div>
      <input type="number" id="Quantity" name="quantity" value="1" min="1">
      <div class="plus">+</div>
    </div>
    <button type="submit" name="add" id="AddToCart">DODAJ DO KOSZYKA</button>
{% endform %}
    <div class="additional-information dropdown">
      <span>Dodatkowe informacje</span>
      <div class="symbol">
        <div class="vertical"></div>
        <div class="horizontal"></div>
      </div>
      <div class="additional-information-content content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, repudiandae.
      </div>
    </div>
    <div class="return-shipment dropdown">
      <span>Wysyłka i zwroty</span>
      <div class="symbol">
        <div class="vertical"></div>
        <div class="horizontal"></div>
      </div>
      <div class="return-shipment-content content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, repudiandae.
      </div>
    </div>
</div>
  {% section 'news-landing' %}  
  {% section 'newsletter' %}
  {% section 'credits' %}
  {% section 'footer' %}
<script>
  

var x
var y
window.onerror = function(message, url, lineNumber) {  
    return true; 
};

function scroller() {
    var elmnt = document.querySelector(".carousel")
    x = elmnt.scrollLeft
    var stala=100;
    var viewportWidth=window.innerWidth;
    const dots= document.querySelectorAll('.slide-dots')
    dots[0].classList.add('dots-addon')
    for(var sliderLength=1;sliderLength<=dots.length;sliderLength++)
    {
        if(x>stala){
            dots[sliderLength-1].classList.remove('dots-addon')
            dots[sliderLength].classList.add('dots-addon')
        }
        else if(stala>x){
            dots[sliderLength].classList.remove('dots-addon')
        }
        stala+=viewportWidth;
    }
  }

window.setInterval('scroller()',100)



var globalID
var oldGlobalID

function selectedVariant(id){
  globalID=id
  document.getElementById(globalID).classList.toggle("border-img")
  
}

class Variant{
  constructor(){
  }
  variantID(){
    var currentID=globalID
    console.log(currentID)
  }
  showThumbnail(){
    
  }
}

const variantObject= document.querySelectorAll('[data-variant]')

const variant = new Variant()

variantObject.forEach(button => {
  button.addEventListener('click', ()=> {
    variant.variantID()
    variant.showThumbnail()
  }) 
});

const minusBtn=document.querySelector('.minus')
const plusBtn=document.querySelector('.plus')
const quantity=document.querySelector('#Quantity')

minusBtn.addEventListener('click', ()=> {
  if(quantity.value>=2){
    quantity.value-=1
  }
  else return
})
plusBtn.addEventListener('click', ()=> {
  quantity.value++
  
})


const dropdown=document.querySelectorAll('.dropdown')
const content=document.querySelectorAll('.content')


dropdown[0].addEventListener('click', ()=> {
  dropdown[0].classList.toggle('drop')
  content[0].classList.toggle('show')
})

dropdown[1].addEventListener('click', ()=> {
  dropdown[1].classList.toggle('drop')
  content[1].classList.toggle('show')
})


</script>
