{{ 'collecion.scss' | asset_url | stylesheet_tag }}

{% paginate collections.all.products by 4 %}
  <div class="collection-wrapper">
    {% for product in collections.all.products %}
          <div class="product-tab">
            <div class="product-img">
              <a href="{{ product.url }}"><img src="{{ product.featured_image.src | img_url :"medium" crop :'center' }}"></a>
            </div>
            <div class="product-collection-title">{{ collection.title }}</div>
            <div class="product-title">{{ product.title }}, {{ product.tags }}</div>
            <div class="product-price">
              {{ product.price | money }}
              {% if product.compare_at_price_max > product.price %}
                <span>{{ product.compare_at_price_max | money }}</span>
              {% endif %}
            </div>
          </div>
    {% endfor %}
  </div> 
  <div class="collection-pagination">
    {% for part in paginate.parts %}
      <a href="{{ part.url }}">{{ part.title }}</a>
    {% endfor %}
  </div>
{% endpaginate %}
{% section 'newsletter' %}
{% section 'credits' %}
{% section 'footer' %}
<div class="filters-categories-wrapper">
  <div class="filter">
    <a href="">FLITRY</a>
  </div>
  <div class="category">
    <a href="">KATEGORIE</a>
  </div>
</div>
<div class="listing">
  {% for tags in collections.all.tags %}
    <div class="tags">
      <form action="">
        <input type="checkbox" id="tag" name="tag">
        <label for="tag">{{ tags }}</label>
        {% assign sort_by = tag %}
        <button type="submit" name="Filtruj">Filtruj</button>
      </form>
    </div>
  {% endfor %}
</div>
<script>
const filter=document.querySelector('.filter')
const listing=document.querySelector('.listing')

filter.addEventListener('click',()=> {
  listing.classList.toggle('showed')
})

</script>