
{{ 'product-page.scss' | asset_url | stylesheet_tag }}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="slider-wrapper">
  <div class="slider snaps">
    {% for image in product.images %}
      <img src="{{ product.featured_image | img_url: 'medium' }}">
    {% endfor %}
  </div>
</div>
<div class="dots-wrapperr">
  {% for image in product.images %}
      <div class="slider-dots"></div>
  {% endfor %}
</div>
<div class="product-info-wrapper">
  <div class="general-info-wrapper">
    <label>{{ product.collections.first.title }}</label>
    <h1>{{ product.title }}</h1>
    <h3>{{ product.price | money }}</h3>
  </div>
  <div class="variants">
    <div class="product-template" for="product-template">WZÓR</div>
    <div class="variants-inner">
      	{% for variant in product.variants %}
        	<img id="{{variant.id}}" onclick="selectedVariant(this.id)" src="{{ variant.image.src | img_url: 'medium' }}">
      	{% endfor %}
    </div>
  </div>
{% form 'product', product %}
    <div class="product-size-wrapper">
      <div class="product-size" for="product-size">ROZMIAR</div>
      <select id="product-size" name="id">
        	{% for variant in product.variants %}
            	<option value="{{variant.id}}">{{ variant.option2 }}</option>
        	{% endfor %}
      </select>
    </div>
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
{% endform %}
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
<div>{{ product.description }}</div>
</div>
<script>
  
var x
var y
window.onerror = function(message, url, lineNumber) {  
    return true; 
};

function scroller() {
    var elmnt = document.querySelector(".slider")
    x = elmnt.scrollLeft
    var stala=100;
    var viewportWidth=window.innerWidth;
    const dots= document.querySelectorAll('.slider-dots')
    dots[0].classList.add('dots-addon')
    for(var sliderLength=1;sliderLength<=dots.length;sliderLength++)
    {
        if(x>stala){
            dots[sliderLength-1].classList.remove('dots-addon')
            dots[sliderLength].classList.add('dots-addon')
        }
        else if(stala>x){
            dots[sliderLength].classList.remove('dots-addon')
        }
        stala+=viewportWidth;
    }
  }

window.setInterval('scroller()',100)

var globalID
var oldGlobalID

function selectedVariant(id){
  globalID=id
  document.getElementById(globalID).classList.toggle("border-img")
  
}

class Variant{
  constructor(){
  }
  variantID(){
    var currentID=globalID
    console.log(currentID)
  }
  showThumbnail(){
    
  }
}

const variantObject= document.querySelectorAll('[data-variant]')

const variant = new Variant()

variantObject.forEach(button => {
  button.addEventListener('click', ()=> {
    variant.variantID()
    variant.showThumbnail()
  }) 
});
</script>
